{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "2.x"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from"
  ]
}
